<div class="container" >
  
  <div class="row">

    <div class="col align-self-center text-center">

      <img src="/images/beer.png" alt="beer image" class="mx-auto d-block">
      <a href="/beers" class="btn btn-primary col" >Check the Beers!</a>
      <a href="/random-beers" class="btn btn-primary col">Check a Random Beer !</a>

    </div>
    
  </div>

</div>
